<form action="/login"method="post"> 
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <p>log in with google <a href="/auth/google">click</a> </p>
    <p><a href="/register">register</a></p>
    <button>submit</button>
</form>