<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    
    <p><a href="/login">login</a></p>
    <button>submit</button>
</form>